body {
    background-color: #C2FFC7;

}

.right-col {
    background-color: #123524;
    color: white;
    padding: 3rem;
    border-radius: 10px;
    width: 80%;
}
.left-heading {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #343a40;
}
.left-para {
    font-style: italic;
    color: #33372C;
}
.btn-custom {
    background-color: #62825D;
    color: black;
    border: 1px solid white;
    margin: 5px;
}
.btn-custom:hover {
    background-color: #62825D;
}
